<div class="row" ng-controller="menuCtrl">
  <div class="col-md-4">
    <div id="search">
      <input type="search" ng-model="query" placeholder="Find a Menu">
      <button class="btn btn-sm" ng-click="search(query)">Search</button>
    </div>
    <div>
      <h4 ng-repeat="menu in menus" ng-click="setMenu(menu)">{{menu.name}} <small>{{menu.owner}}</small></h4>
    </div>
  </div>
  
  <div class="col-md-4">
    <div ng-if="selectedMenu">
      <h1>{{selectedMenu.name}}</h1>
      <div ng-repeat="item in selectedMenu.menu_items | filter: menuFilters ">
        <h4>{{item.name}} <small ng-if="item.vegetarian==true">**Vegetarian**</small></h4>
        <p>{{item.description}}</p>
        <p>{{item.price | currency}}</p>
        <hr>
      </div>
    </div>  
  </div>

  <div class="col-md-4" id="filters">
    <h1>Filters</h1>
    <button ng-click="menuFilters={}">Reset Filters</button>
    <br />
    <label for="vegetarian">Vegetarian</label>
    <input type="checkbox" ng-click="toggleFilter('vegetarian')">
  </div>

</div>